doctype html
html(lang="en")
	head
		title Dungeon Crawl
	body
		header
			h2 Construction in Progress
		main
		footer
			a(href='//github.com/KittenHero/dungeon-crawl') view source
		script(src='static/bundle.js')

